.card{
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 10px solid #000000;
    background-image: linear-gradient(to bottom, #472502, #e66700 );
}
.card img{
    width: 150px;
    height: 150px;
}
.card span{
    font-size: 14px;
}
.card:hover{
    background-color: rgba(190, 190, 190, 0.5);
}

.card h6{
    color: #fffdf1;
}
